*{
    margin: 0;
    padding: 0;
    color: rgb(255, 254, 193);
}

html, body{
    height: 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../public/img/1272277.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

.container{
    height: 700px;
    width: 700px;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1em;
}



.card{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: rotateY(180deg);
    transition: transform 0.5s;
    animation: 4s hideCard linear;
}

@keyframes hideCard{
    0%, 70%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(180deg);
    }
}

.card img{
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s;
    transform: scale(0);
    animation: 4s hideImage linear;
}

@keyframes hideImage {
    0% , 70%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.card.active{
    transform:  rotateY(0);
}

.card.correct{
    background-color: rgb(115, 204, 115);
}

.card.wrong{
    background-color: brown;
}

.card.active img{
    transform: scale(1);
}



.gitIcon{
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

.icons{
    margin: 10px;
    color: black;
}
